<section id="carrossel" class="banner banner-pslogo">
    <div class="container posicionamento-banner">
        <div class="conteudo-banner">
            <h1>PS5</h1>
            <p>O jogo não tem limites</p>
            <a href="#">Inscreva-se</a>
        </div>
    </div>
</section>

<div class="titulo">

    <h2 class="txt-title">Compare os planos de assinatura</h2>

    <div class="row">
        <div class="coluna1">
          <img src="/assets/img/deluxe.png" alt="Plano Deluxe" style="width:100%">
        </div>
        <div class="coluna2">
          <img src="/assets/img/extra.png" alt="Plano Extra" style="width:100%">
        </div>
        <div class="coluna3">
          <img src="/assets/img/essential.png" alt="Plano Essential" style="width:100%">
        </div></div>
