<section id="carrossel" class="banner banner-pslogo">
    <div class="container posicionamento-banner">
        <div class="conteudo-banner">
            <h1>PS5</h1>
            <p>O jogo não tem limites</p>
            <a href="#">Inscreva-se</a>
        </div>
    </div>
</section>

<section class="ofertas">
  <div class="container">
      <h2>Noticias!</h2>
      <div class="espaco-produtos-noticias">
          <div class="cardnews-noticias">
              <img src="/assets/img/Call of duty Black ops cold war.jpg" alt="Noticias de jogos">
              <div class="texto-card">

                  <p>Patch de Warzone e Modern Warfare nerfa metralhadora H4 Blixen.</p>
                  
              </div>
          </div>
          <div class="cardnews-noticias">
              <img src="/assets/img/CyberPunk2077.jpg" alt="Noticias de jogos">
              <div class="texto-card">

                  <p>Ações da CD Projekt RED despencaram após o lançamento.</p>
                  
              </div>
          </div>
          <div class="cardnews-noticias">
              <img src="/assets/img/Destiny 2 .jpg" alt="Noticias de jogos">
              <div class="texto-card">

                  <p>Destiny 2: Bungie detalha novidades da Temporada dos Atormentados.</p>

              </div>
          </div>
          <div class="cardnews-noticias">
              <img src="/assets/img/Minecraft Legends.png" alt="Noticias de jogos">
              <div class="texto-card">

                  <p>Minecraft Legends é revelado com gameplay e chega em 2023 ao PS4 e PS5.</p>


              </div>
          </div>
          <div class="cardnews-noticias">
              <img src="/assets/img/The WitcherWildHunt.jpg" alt="Noticias de jogos">
              <div class="texto-card">

                  <p>Agora vai! The Witcher 3 de PS5 será lançado no final de 2022.</p>

              </div>
          </div>
          <div class="cardnews-noticias">
              <img src="/assets/img/Death Stranding.jpg" alt="Noticias de jogos">
              <div class="texto-card">

                  <p>“Jornada espetacular”: presidente da Blizzard elogia Death Stranding.</p>

              </div>
          </div>
          <div class="cardnews-noticias">
              <img src="/assets/img/Days Gone.jpg" alt="Noticias de jogos">
              <div class="texto-card">

                  <p>De narrativa a mecânicas, diretor revela ideias que teve para Days Gone 2.</p>

              </div>
          </div>
          <div class="cardnews-noticias">
              <img src="/assets/img/RedDeadRedemption.jpg" alt="Noticias de jogos">
              <div class="texto-card">

                  <p>Red Dead Redemption 2 de PS5 e remake do jogo original estariam em produção [rumor].</p>

              </div>
          </div>
          <div class="cardnews-noticias">
              <img src="/assets/img/SekiroShadowsDieTwice.jpg" alt="Noticias de jogos">
              <div class="texto-card">

                  <p>Sekiro: Shadows Die Twice: update com novidades chega em outubro.</p>

              </div>
          </div>
      </div>
  </div>
</section>

