
/* CSS da página SERVIÇOS */

.titulo {
    height: 1000px;
    background-color: #cecdd2;
    margin: 0%;
}

.txt-title {
    color:#000000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    font-size: 43px;
    text-transform: uppercase;
}

.coluna1, .coluna2, .coluna3 {
    float: left;
    width: 33.33%;
    clear: both;
    display: table;
}

.banner {
    height: 710px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-pslogo {
    background-image: url(/assets/img/sonylogo.jpg);
}

.banner-controlelogo {
    background-image: url(/assets/img/pslogo.jpg);
}

.banner-wallpaperlogo {
    background-image: url(/assets/img/controlelogo.jpg);
}

.posicionamento-banner {
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.conteudo-banner {
    width: 495px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.conteudo-banner a {
    padding: 15px;
    color: white;
    background-color: #C31616;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
}

.conteudo-banner h1 {
    font-family: "Titillium Web";
    font-weight: bold;
    font-size: 80px;
}

.conteudo-banner p {
    font-family: "Roboto";
    font-size: 25px;
}