<section id="carrossel" class="banner banner-pslogo">
    <div class="container posicionamento-banner">
        <div class="conteudo-banner">
            <h1>PS5</h1>
            <p>O jogo não tem limites</p>
            <a href="#">Inscreva-se</a>
        </div>
    </div>
</section>

<section class="ofertas">
           
    <div class="container">
        <h2>Escolha sua plataforma!</h2>
        <br>
        <div class="espaco-produtos-loja">
            <div class="cardnews-loja">
                <img src="/assets/img/ps5.png" alt="PS5">
                <div class="texto-card">
                </div>
            </div>
            <div class="cardnews-loja">
                <img src="/assets/img/ps4.png" alt="PS4">
                <div class="texto-card">
                </div>
            </div>
            <div class="cardnews-loja">
                <img src="/assets/img/expansoes.png" alt="expansoes">
                <div class="texto-card"> 
                </div>
            </div>
            <div class="cardnews-loja">
                <img src="/assets/img/free.png" alt="Free">
                <div class="texto-card">   
                </div>
            </div>
            <div class="cardnews-loja">
                <img src="/assets/img/pechinchas.png" alt="Pechinchas">
                <div class="texto-card"> 
                </div>
            </div>
            <div class="cardnews-loja">
                <img src="/assets/img/vr.png" alt="VR">
                <div class="texto-card">
                </div>
            </div>
            <div class="cardnews-loja">
                <img src="/assets/img/psplus.png" alt="PsPlus">
                <div class="texto-card-">
                </div>
            </div>
            <div class="cardnews-loja">
                <img src="/assets/img/PlaystationServiços.jpg" alt="Planos">
                <div class="texto-card-">
                </div>
            </div>
        </div>
    </div>
</section>