<main>
    <section id="carrossel" class="banner banner-pslogo">
        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
                <h1>PS5</h1>
                <p>O jogo não tem limites</p>
                <a href="#">Inscreva-se</a>
            </div>
        </div>
    </section>
    <section class="jogos">

        <video id="video" width="440px" controls>
            <source src="/assets/img/PS5.mp4" type="video/mp4" />
        </video>

    </section>
    <section class="ofertas">
        <div class="container">
            <h2>Descubra mais grandes jogos!</h2>
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="/assets/img/thelastosuslogo.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>The Last Of Us Part I</h3>
                        <p>Edição Deluxe</p>
                        <p class="preco">R$399,50</p>
                        <a href="#">Comprar na pré-venda</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/forspoken.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Forspoken</h3>
                        <p>Edição Deluxe</p>
                        <p class="preco">R$399,50</p>
                        <a href="#">Comprar na pré-venda</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/eldenringlogo.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Elden Ring</h3>
                        <p>Edição Standard</p>
                        <p class="preco">R$199,90</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/spidermanlogo.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Spiderman</h3>
                        <p>Jogo do ano</p>
                        <p class="preco">R$99,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/mortalkombatlogo.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Mortal Kombat 11</h3>
                        <p>Edição Ultimate.</p>
                        <p class="preco">R$99,90</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/godofwar.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>God Of War</h3>
                        <p>Edição Deluxe</p>
                        <p class="preco">R$99,00</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/assassinscreed.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Assassin's Creed</h3>
                        <p>Valhalla Deluxe</p>
                        <p class="preco">R$279,90</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
                <div class="cardnews">
                    <img src="/assets/img/ghost.jpg" alt="Foto da jogadora profissional">
                    <div class="texto-card">
                        <h3>Ghost Of Tsushima</h3>
                        <p>Edição do Diretor</p>
                        <p class="preco">R$179,90</p>
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
